<ion-content class="master-bg">

    <div class="ion-padding section-title">
      <ion-text>
        <h1>Lupa Sandi?</h1>
        <div>Tulis Email Anda di Sini</div>
      </ion-text>
    </div>
  
    <form class="ion-padding">
  
      <ion-item>
        <ion-input type="email" name="email" [(ngModel)]="formData.email" placeholder="Email" required></ion-input>
      </ion-item>
  
      <div class="ion-margin-top">
        <ion-button (click)="Forgot()" expand="block" color="warning">Kirim</ion-button>
        <ion-text routerLink="/login" class="ion-text-center">
          <p>Kembali</p>
        </ion-text>
      </div>
  
    </form>
  </ion-content>
  