<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/result"></ion-back-button>
    </ion-buttons>
    <ion-title>Rumah Sakit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="clinic-img">
    <ion-slides autoplay="3000" [options]="sliderConfig">
      <ion-slide *ngFor="let itemImg of itemsImg">
        <div class="swiper-zoom-container">
          <img src="{{imgFilename}}{{itemImg.clinicimg_filename}}">
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="ion-padding-horizontal">
    <h3 class="clinic-title">{{name}}</h3>
    <ion-text color="medium">
      <p class="clinic-location">{{address}}, {{city}}, {{state}}, {{zipcode}}</p>
    </ion-text>

    <h6 class="section-title"><b>Jam Kerja</b></h6>
    <ion-text class="ion-text-justify clinic-desc">
      <p *ngIf="weekopen && weekclose">Sen - Jum <span>{{weekopen}} - {{weekclose}}</span></p>
      <p *ngIf="satopen == '--' && satclose == '--'">Sabtu <span>{{satopen}} - {{satclose}}</span></p>
      <p *ngIf="sunopen == '--' && sunclose == '--'">Minggu <span>{{sunopen}} - {{sunclose}}</span></p>
    </ion-text>

    <h6 class="section-title"><b>Detail</b></h6>
    <ion-text class="ion-text-justify clinic-desc">
      <div>
        <ion-icon name="call"></ion-icon><span>{{contact}}</span>
      </div>
      <div>
        <ion-icon name="mail"></ion-icon><span>{{email}}</span>
      </div>
    </ion-text>
  </div>

  <div class="ion-padding-horizontal">
    <h6 class="section-title"><b>Pilih Poli</b></h6>
    <div class="grid">
      <ion-row>
        <ion-col *ngFor="let speciality of specialities">
          <ion-card class="speciality-card" (click)="navigateToDoctorList(clinicID, speciality.speciality_id)">
            <ion-thumbnail>
              <img src="{{iconLink}}{{speciality.speciality_icon}}">
            </ion-thumbnail>
            <h5>{{speciality.speciality_name}}</h5>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </div>

</ion-content>
