<ion-tabs>
  <ion-tab-bar slot="bottom" color="tertiary">
    <ion-tab-button tab="home">
      <ion-icon name="md-home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="appointment">
      <ion-icon name="md-calendar"></ion-icon>
      <ion-badge *ngIf="appointmentBadge > 0" color="danger">{{appointmentBadge}}</ion-badge>
      <ion-label>Janji Temu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="riwayat-medis">  
      <ion-icon name="md-document"></ion-icon>
      <ion-label>Riwayat Medis</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="message">
      <ion-icon name="md-mail"></ion-icon>
      <ion-label>Notifikasi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="md-person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
