ion-footer {
    padding: 8px 5px;
    ion-button {
        height: 45px;
        font-weight: 500;
        text-transform: capitalize;
        border-radius: 8px;
    }
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

.profile-card {
    background: var(--ion-color-tertiary);
    background: -webkit-linear-gradient(to right, #87e7ae, #87d7e7);
    background: linear-gradient(to right, #87e7ae, #87d7e7);
    padding-top: 20px;
    padding-bottom: 100px;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
    color: white;
    padding: 0 16px;

    ion-card {
        margin: 20px 0;
        background-color: white;
        padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px; /* Tinggi dari card, sesuaikan dengan keinginan */
    }

    ion-img {
        height: 180px;
    }

    .profile-name {
        padding-top: 50px;
        padding-left: 20px;
        text-align: left;

        h3 {
            font-weight: 600;
            margin-bottom: 3px;
        }

        p {
            font-weight: 500;
            color: var(--ion-color-light);
        }
    }
}

.clinic-name {
    margin-top: 10px;
    margin-bottom: 10px; /* Tambahkan margin bawah */
    font-weight: bold;
    font-size: 20px;
  }
  
  .speciality-name {
    margin-top: 10px; /* Tambahkan margin atas */
  }
  

.doctor-details {
    .details-title {
        margin-right: 5px;
    }
}

.booking-wrap {
    .date-picker {
        padding: 0 35%;
    }
}

.doctor-info {
    margin-top: 12px;
    
    ion-col {
        padding-left: 0;
    }
    small {
        color: var(--ion-color-medium);
        font-weight: 600;
    }
    h6 {
        margin: 0;
        font-weight: 600;
        font-size: 14pt;
    }
}

.date-picker-container {
    border: 2px solid #d3d3d3; /* Warna dan ketebalan border */
    border-radius: 8px; /* Sudut border melengkung */
    padding: 10px; /* Jarak antara border dan konten di dalamnya */
    text-align: center; /* Teks di dalamnya di tengah-tengah */
    max-width: 80%; /* Lebar maksimal dari kotak */
    margin: 0 auto; /* Agar kotak tetap di tengah */
  }
  
  .date-picker-container ion-datetime {
    width: 100%; /* Membuat datetime picker mengisi seluruh lebar kotak */
  }
  
  .large-icon {
    font-size: 100px; /* Sesuaikan dengan ukuran yang diinginkan */
    color: #666; /* Warna ikon */
  }