<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/clinic/{{doctorID}}"></ion-back-button>
    </ion-buttons>
    <ion-title>Dokter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="profile-card">
    <ion-row class="ion-text-center">
      <ion-col size="5">
        <ion-card>
          <ion-img [src]="imgURL + clinicID + '/doctor/' + items?.doctor_avatar">
          </ion-img>
        </ion-card>
      </ion-col>
      <ion-col class="profile-name">
        <ion-text>
          <h3 class="ion-no-margin">Dr. {{items?.doctor_firstname}} {{items?.doctor_lastname}} </h3>
          <p class="ion-no-margin clinic-name">{{items?.clinic_name}}</p> <!-- Tambahkan baris ini -->
          <p class="ion-no-margin speciality-name">Poli {{items?.speciality_name}}</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </div>

  <div class="ion-padding-horizontal">
    <ion-row class="doctor-info">
      <!-- <ion-col>
        <small>Consultation Fees</small>
        <h6>RM {{items?.consult_fee}}</h6>
      </ion-col>
      <ion-col (click)="reviewModal()">
        <small>Reviews</small>
        <h6 *ngIf="countReviews == 0">0.0</h6>
        <h6 *ngIf="countReviews > 0">{{totalReviewRate}}</h6>
      </ion-col> -->
    </ion-row>
    
    <h6 class="section-title"><b>Deskripsi</b></h6>
    <ion-text class="ion-text-justify clinic-desc">
      <p>{{items?.doctor_desc}}</p>
    </ion-text>
  </div>

  <ion-text class="ion-text-justify doctor-details">
    <ion-list lines="none">
      <ion-item>
        <ion-badge color="dark" class="details-title">Bahasa</ion-badge>
        <ion-label>{{items?.doctor_spoke}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-text>

  <div class="booking-wrap">
    <h6 class="section-title ion-padding-horizontal"><b>Pilih Tanggal Janji Temu</b></h6>
    <div class="date-picker-container">
      <ion-datetime 
        (ionBlur)="DateSlotChange($event)" 
        (ionChange)="DateSlotChange($event)" 
        displayFormat="DD MMM YYYY" 
        [min]="minDate" 
        pickerFormat="DD MMM YYYY" 
        placeholder="Ketuk untuk Pilih Tanggal">
      </ion-datetime>
    </div>
    <div class="select-timeslot ion-padding-vertical">
      <ion-segment (ionChange)="TimeSlotChange($event)">
        <ion-segment-button *ngFor="let itemSch of itemsSchedule" [value]="itemSch.time_slot">
          <ion-label>{{itemSch.time_slot}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>
  
</ion-content>

<ion-footer no-border>
 <ion-button expand="block" color="tertiary" (click)="GoToSessionSelection()">Selanjutnya</ion-button>

</ion-footer>
