ion-card {
    padding: 10px;
    box-shadow: 0 4px 16px rgba(0,0,0,.12);
    border-radius: 8px;
    margin-top: 24px;
    margin-bottom: 24px;
    background: white;
}

.icon {
    vertical-align: middle; /* Untuk memastikan ikon sejajar secara vertikal dengan teks */
    margin-right: 3px;
    font-size: 16px; /* Sesuaikan ukuran ikon */
}

.icon-custom {
    margin-top: 30px;
}

ion-badge {
    
    display: inline-block;
    padding: 5px;
    font-size: 14px;
}


