.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.info-section {
  text-align: left;
  width: 100%;
  max-width: 800px;
  padding: 2px; /* Kurangi padding */
  margin-bottom: 0px; /* Tetap 0 */
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

ion-badge {
  display: inline-block;
  padding: 7px;
  font-size: 14px;
}

.info-section h5, .info-section h6 {
  margin: 0 0 0 8px; /* Berikan margin kiri untuk memberikan jarak antara ikon dan teks */
}

ion-card {
  width: 100%;
  max-width: 800px;
  background-color: #fefefe;
  margin-top: 4px; /* Tambahkan sedikit margin untuk sedikit pemisahan */
}

.detail-section {
  margin-top: 0px; /* Kurangi margin top */
}

h6 {
  margin-top: 16px;
  margin-bottom: 8px;

}

ion-textarea {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
}

h2 {
  margin-top: 2px; /* Atur margin atas untuk memberi jarak antara judul sebelumnya */
  margin-bottom: 4px; /* Kurangi margin bawah untuk mengurangi jarak antara judul dan daftar */
  font-weight: bold;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 25px;
}

p {

  padding-left: 6px;
  margin-bottom: 25px;
}

hr {
  border: none;
  border-top: 1px solid #ccc; /* Garis abu-abu tipis */
  margin-top: 8px;
  margin-bottom: 8px; /* Atur margin atas dan bawah sesuai kebutuhan */
}

.ppp {
  margin-top: 4px;
}