<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar placeholder="Cari Dokter" (ionInput)="filterData($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Daftar Dokter</ion-list-header>

    <ion-item *ngFor="let item of items" (click)="doctorProfile(item.doctor_id)">
      <ion-avatar slot="start">
        <ion-icon name="md-person" class="large-icon"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{item.doctor_firstname}} {{item.doctor_lastname}} </h2>
        <h3>{{item.speciality_name}}</h3>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
